//All ani mation keyframes
//All ani mation keyframes
@keyframes circles{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-60deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
//All ani mation keyframes
//All ani mation keyframes