:root {
    --base: #12A777;
    --title: #3D1879;
    --glo-icon: #E8E4F9;
    --theme: #03d6f9;
    --theme-bg: #1F493F;
    --login: #1B3931;
    --box-bg: #102923;
    --varification: #283D39;
    --plc: #989898;
    --details-tab-color: #BBBBBB;
    --section-bg: #101046;
    --varicode: #8E5858;
    --point-last: #6D9289;
    --reword-border: #18725C;
    --progress-bar: #D9D9D9;
    --progress-border: #767676;
    --left-border: #23584C;
    --com-switch: #098F6B;
    --left-menu: #1C3934;
    --hob: #71C73E;
    --re-bg: #29534C;
    --re-bg2: #2A645A;
    --re-bg3: #376D64;
    --slider-bg: #2B544D;
    --vari-border: #2A433D;
    --table-bg: #0E2520;
    --match-two: #23C290;
    --point-color: #A7D1C7;
    --social-border: #CBCAF2;
    --terminal-bg: #1A2825;
    --icon-hover: #D4AC66;
    --accordion-bg: #142925;
    --details: #193F36;
    --details-tap-bg: #0F4538;
    --pro-before: #14A876;
    --picture-border: #3C4B4B;
    --banner-freature: #1B3630;
    --search-rgba: rgba(255, 255, 255, 0.4);
    --search-icon: #C6C6CB;
    --body: #17302A;
    --dots: #33645B;
    --dots-active: #6EC640;
    --match-border: #767676;
    --white: #FFFFFF;
    --black: #111;
    --btn-clr: #FFFBFB;
    --btn-two: #FF8A00;
    --Breadcumnd: #271A51;
    --footer: #240945;
    --pragraph: #999A9A;
    --prev: #1F493F;
    --next: #514477;
    --ratting: #FFAD02;
    --video-bg: #342B4E;
    --switch: #E8E4F9;   
}

//not allowed down code

[data-theme='dark'] {
    --base: #12A777;
    --title: #3D1879;
    --theme: #03d6f9;
    --theme-bg: #D5DDEC;
    --login: #1B3931;
    --box-bg: #EFF4FF;
    --varification: #283D39;
    --plc: #3e3737;
    --details-tab-color: #271A51;
    --section-bg: #101046;
    --varicode: #8E5858;
    --point-last: #6D9289;
    --reword-border: #bac3d1;
    --progress-bar: #D9D9D9;
    --progress-border: #767676;
    --left-border: #23584C;
    --com-switch: #098F6B;
    --left-menu: #EBF0F8;
    --hob: #71C73E;
    --re-bg: #f6f9ff;
    --re-bg2: #fff;
    --re-bg3: #ebf0f8;
    --slider-bg: #D5DDEC;
    --vari-border: #2A433D;
    --table-bg: #dce2ed;
    --match-two: #23C290;
    --point-color: #2F2F2F;
    --social-border: #CBCAF2;
    --terminal-bg: #a7b4cb;
    --icon-hover: #D4AC66;
    --accordion-bg: #EBF0F8;
    --details: #EFF4FF;
    --details-tap-bg: #0F4538;
    --pro-before: #14A876;
    --picture-border: #3C4B4B;
    --banner-freature: #EFF4FF;
    --search-rgba: rgba(47, 42, 42, 0.4);
    --search-icon: #A1A1BB;
    --body: #fff;
    --dots: #33645B;
    --dots-active: #6EC640;
    --match-border: #767676;
    --white: #2B292A;
    --black: #111;
    --glo-icon: #A1A1BB;
    --btn-clr: #FFFBFB;
    --btn-two: #FF8A00;
    --Breadcumnd: #271A51;
    --footer: #240945;
    --pragraph: #271A51;
    --prev: #D5DDEC;
    --next: #514477;
    --ratting: #FFAD02;
    --video-bg: #342B4E;
    --switch: #2B292A;
}